<!DOCTYPE html>
<html>
<head>
<title>CQ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
*{
	box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
html{
	height:100%;
	overflow:auto;
}
::-webkit-scrollbar {
    display:none;
}
body{
	height:100%;
	margin: 0;
	padding: 0;
	line-height: 1.42857143;
	background-color: #f1f3f3;
}
#pmain{
	position: fixed;
	left:0px;
	right:0;
	top:60px;
	bottom:0;
	margin: auto;
	overflow: auto;
}
.btn{
	color:white;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
	border: 1px solid white; 
}
.community-head-btn{
	border-bottom: 4px solid white;
}
.dropDown{
	position:relative;
}
.dDown{
	display:inline-block;
	float:right;
	background-color:#fff;
	padding:6px 12px;
	border:2px solid #d1cfcf;
	cursor:pointer;
}
.dCon{
	position: absolute;
	top:46px;
	right:15px;
	float:left;
	display:none;
	white-space:nowrap;
	overflow:hidden;
	background-color:#fff;
	padding:5px 0;border: 2px solid rgba(119, 159, 255, 0.56);
}
.dropDown:hover .dCon{
	display:inline-block;
}	
</style>
</head>
<body onload="getMan()">
<% if(role1=='UAdmin'||role1=='USuperadmin'){ %>
<% include partials/navbar1 %>
<% } %>
<% if(role1=='User'||role1=='Community Builder'){ %>
<% include partials/navbar2 %>
<% } %>
<input id="CinName" value="<%= community[0]._id %>" style="display:none;"> 
<div id="pmain" class="row">
<div style="padding: 0;" class="col-xs-12">
<div style="width:100%;background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);padding:6px 0px 0px;display:block;height:50px;">
</div>
<div class="container col-xs-11">
<div class="col-xs-12 col-sm-offset-1 col-sm-2">
<a href="/community/discussion/<%= community[0]._id %>">
<img src="/image/<%= community[0].picId %>" style="width:100px;height:100px;box-shadow: 0 0 10px rgba(0,0,0,0.5);margin-top:-40px;border:4px solid #fff;" class="center-block">
</a>
</div>
<div class="col-xs-6 col-sm-7" style="display:inline-block;margin-top:15px;padding:0 15px;color:#337AB7;height:60px;font-size:20px;float:left;font-weight:600;">
<%= community[0].name %>
</div>
<div class="dropDown col-xs-6 col-sm-2" style="display:inline-block;float:right;padding: 15px;z-index: 10;">
<div class="dDown">
<i class="fa fa-bars" style="padding:0;font-size:16px;"></i>
</div>
<div class="dCon">
<a href="/community/discussion/<%= community[0]._id %>" style="display:inline-block;padding:3px 20px;text-decoration:none;color:#333333;">Discussion</a><br>
<% if(role=="owner"){ %>
    <a href="/community/managecommunity/<%= community[0]._id %>" style="display:inline-block;padding:3px 20px;text-decoration:none;color:#333333;">Manage Community</a><br>
<% } %>
<a href="/community/communityprofile/<%= community[0]._id %>" style="display:inline-block;padding:3px 20px;text-decoration:none;color:#333333;">Community Profile</a><br>
<a href="/community/communitymembers/<%= community[0]._id %>" style="display:inline-block;padding:3px 20px;text-decoration:none;color:#333333;">Community Members</a><br>
</div>
</div>
</div>
<center>
    <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
</center>
<div class="container col-xs-12 col-sm-offset-1 col-sm-10">
<div class="col-xs-12 col-sm-3 col-md-2">
<a id="forManager" onclick="getMan()" style="padding:4px;font-size:16px;font-weight:bold;cursor:pointer;">Managers (<%= community[0].admin.length+1 %>)</a>
</div>
<div class="col-xs-12 col-sm-3 col-md-2">
<a id="forMember" onclick="getMem()" style="padding:4px;font-size:16px;font-weight:bold;cursor:pointer;">Members (<%= community[0].members.length %>)</a>
</div>
<div id="dispCommMem" class="col-xs-12">
</div>
</div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
document.getElementsByClassName('anc')[1].classList.add('active');
document.getElementsByClassName('fa-users')[0].classList.add('act');
function getMan()
{
    document.getElementById('forManager').style.color="#494949";
    document.getElementById('forMember').style.color="#337AB7";
    var xhttp=new XMLHttpRequest();
    xhttp.open("POST","/getCommMem/"+document.getElementById('CinName').value);
    xhttp.setRequestHeader("Content-Type","application/json");
    xhttp.send();
    xhttp.onload=function(){
        $('#dispCommMem').empty();
        var data=JSON.parse(xhttp.responseText);
        for(var i=-1;i<data[0].admin.length;++i)
        {
            if(i==-1)
            {
                var x='<div class="col-xs-12" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-top:5px;padding:5px;">';
                x=x+'<div>';
                x=x+'<a class="col-xs-12 col-sm-2 col-md-1" href="/viewprofile/'+data[0].owner.UID+'"><img src="/img/'+data[0].owner.UID+'" style="box-shadow: 0 0 10px rgba(0,0,0,0.5);border:3px solid #fff;width:50px;height:50px;border-radius:50%;"></a>';
                x=x+'<div class="col-xs-6 col-sm-2 col-md-1" style="padding-top:15px;"><span class="label label-primary">Owner</span></div>';
                x=x+'<a class="col-xs-6 col-sm-8 col-md-10" href="/viewprofile/'+data[0].owner.UID+'" style="display:inline-block;font-size:18px;font-weight:bold;cursor:pointer;padding-top:15px;">'+data[0].owner.name+'</a>';
            }
            else
            {
                var x='<div class="col-xs-12" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-top:5px;padding:5px;">';
                x=x+'<div>';
                x=x+'<a class="col-xs-12 col-sm-2 col-md-1" href="/viewprofile/'+data[0].admin[i].UID+'"><img src="/img/'+data[0].admin[i].UID+'" style="box-shadow: 0 0 10px rgba(0,0,0,0.5);border:3px solid #fff;width:50px;height:50px;border-radius:50%;">';
                x=x+'<div class="col-xs-6 col-sm-2 col-md-1" style="padding-top:15px;"><span class="label label-success">Admin</span></div>';
                x=x+'<a class="col-xs-6 col-sm-8 col-md-10" href="/viewprofile/'+data[0].admin[i].UID+'" style="display:inline-block;font-size:18px;font-weight:bold;cursor:pointer;padding-top:15px;">'+data[0].admin[i].name+'</a>';   
            }
            $('#dispCommMem').append(x);
        }
    }
}
function getMem()
{
    document.getElementById('forManager').style.color="#337AB7";
    document.getElementById('forMember').style.color="#494949";
    var xhttp=new XMLHttpRequest();
    xhttp.open("POST","/getCommMem/"+document.getElementById('CinName').value);
    xhttp.setRequestHeader("Content-Type","application/json");
    xhttp.send();
    xhttp.onload=function(){
        $('#dispCommMem').empty();
        var data=JSON.parse(xhttp.responseText);
        for(var i=0;i<data[0].members.length;++i)
        {
            var x='<div class="col-xs-12" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-top:5px;padding:5px;">';
            x=x+'<div>';
            x=x+'<a class="col-xs-12 col-sm-4 col-md-2" href="/viewprofile/'+data[0].members[i].UID+'"><img src="/img/'+data[0].members[i].UID+'" style="box-shadow: 0 0 10px rgba(0,0,0,0.5);border:3px solid #fff;width:50px;height:50px;border-radius:50%;">';
            x=x+'<a class="col-xs-12 col-sm-8 col-md-10" href="/viewprofile/'+data[0].members[i].UID+'" style="display:inline-block;font-size:18px;font-weight:bold;cursor:pointer;padding-top:15px;">'+data[0].members[i].name+'</a>';
            $('#dispCommMem').append(x);
        }
    }
}
</script>
</html>
